/**********************

    nobby flexbox
    (c) Norbert Fekete 2024

**********************/

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --container-width-small: 80%;
    --container-width-medium: 75%;
    --container-width-large: 60rem;
    --main-bg-color: #373737;
    --gap-size: 1rem;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--main-bg-color);
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: var(--gap-size);
}

[class^="col"] {
    flex-basis: 100%;
}

@media only screen and (min-width: 720px) {
    .col-1 { flex: 0 0 4.17%; }
    .col-2 { flex: 0 0 12.5%; }
    .col-3 { flex: 0 0 20.83%; }
    .col-4 { flex: 0 0 29.17%; }
    .col-5 { flex: 0 0 37.5%; }
    .col-6 { flex: 0 0 45.83%; }
    .col-7 { flex: 0 0 54.17%; }
    .col-8 { flex: 0 0 62.5%; }
    .col-9 { flex: 0 0 70.83%; }
    .col-10 { flex: 0 0 79.17%; }
    .col-11 { flex: 0 0 87.5%; }
    .col-12 { flex: 0 0 95%; }
}

@media only screen and (max-width: 720px) {
    .col-8, .col-4 {
        flex: 0 0 100%;
        margin: 0;
    }
    .col-4 { margin-top: 20px; }
}

@media only screen and (min-width: 540px) {
    .container { width: var(--container-width-small); }
}

@media only screen and (min-width: 960px) {
    .container {
        width: var(--container-width-medium);
        max-width: var(--container-width-large);
    }
}

.row > [class^="col"]:last-of-type {
    margin-right: 0;
}