/* 
    Datei: styles.css
    Beschreibung: Enthält das Styling für die Hauptseite der Webseite.
    Erstellt von: Norbert Fekete
    Erstelldatum: 11.09.2024
    Letzte Änderung: 11.09.2024
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Allgemeine Styles */

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	font-size: 100%;
	background-color:#131313;
}

/* Root-Schriftstile */

* {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #e7e7e7;
  line-height: 1.5;
}

/* Positionierungen */

.left { text-align: left; }

.right { text-align: right; }

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.justify { text-align: justify; }

/* Typografie */

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.375rem; }
h4 { font-size: 1.125rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.875rem; }

p {
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 1.8;
    margin: 20px;
}

/* Heroimage */

@keyframes slideshow {
    0% { background-image: url("../img/heroimage.jpg"); }
    25% { background-image: url("../img/heroimage.jpg"); }
    50% { background-image: url("../img/heroimage2.jpg"); }
    75% { background-image: url("../img/heroimage3.jpg"); }
    100% { background-image: url("../img/heroimage.jpg"); }
}

.heroimage {
    background-image: url("../img/heroimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding: 0;
    margin: 0;
    animation: slideshow 20s infinite ease-in-out;
    transition: background-image 4s ease-in-out;
        
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroimage p {
    color: white;
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    text-align: center;
}

@media (max-width: 1200px) {
    .heroimage p { font-size: 36px; }
}

@media (max-width: 768px) {
    .heroimage p { font-size: 24px; }
}

@media (max-width: 480px) {
    .heroimage p { font-size: 18px; }
}

 /* Header Navigation */

nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
}

nav ul li {
    display: block;
    margin-bottom: 10px;
}

nav ul li a {
    font-size: 18px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    position: relative;
    font-weight: 500;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

nav ul li a:hover::after {
    background-color: #0077b6;
}

.headborder {
    border-bottom:10px solid black;
}

 /* Artikel */

.article-preview {
    background-color: #272727;
    padding: 15px;
    border-radius: 8px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color:white;
}

.article-title {
    font-size: 24px;
    font-weight: bold;
}

.article-snippet {
    font-size: 16px;
}

.article-date {
    font-size: 12px;
    color: #999;
    text-align: right;
}

/* Artikel */

.footer {
    background-color:black;
}